/* Styles for the books page */
.books-page {
    height: full; /* Assuming you meant full height */
    width: 100vw;
    background-color: wheat;
}

/* Styles for the books container */
.books {
    margin: 60px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 15px;
    max-width: 1024px;
}

/* Styles for each book card */
.book-card {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    height: auto;
    width: 250px;
    align-items: center;
    padding: 25px;
    margin: 10px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 15px;
    position: relative;
    background-color: rgb(238, 238, 238);
}

/* Styles for the book cover image */
.book-card img {
    width: 150px;
    height: auto;
    margin-bottom: 25px !important;
    border-radius: 18px;
}

/* Hover effect on book cover image */
.book-card img:hover {
    transform: scale(1.05);
    transition: all ease 1.3s;
}

/* Styles for the book title */
.bookcard-title {
    word-wrap: break-word;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

/* Styles for the book author */
.bookcard-author {
    color: rgb(141, 140, 140);
    font-size: 14px;
    font-weight: 900;
}

/* Styles for the book categories */
.bookcard-category {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

/* Styles for individual category tags */
.bookcard-category p {
    padding: 8px 15px;
    background-color: lightgray;
    font-weight: 600;
    margin: 5px;
    border-radius: 5px;
}

/* Empty box at the bottom of the book card */
.bookcard-emptybox {
    height: 50px;
    position: relative;
    bottom: 0%;
    background-color: rgb(0, 0, 0);
}

/* Additional Styles to make the first card consistent */
.books .book-card:first-child {
    margin-left: 0;
}
